{% extends "admin_base.html"%}
{% import "bootstrap/wtf.html" as wtf %}

{%block content%}
<br />
<br />
<br />
<div class="container">
    <div class="row">
        <div class="col-lg-12 col-sm-12">
           <div class="panel panel-default">
               <div class="panel-heading">Admin Info</div>
               <div class="panel-body">
                   <div class="btn-group" role="group" aria-label="...">
  			<a type="button" class="btn btn-default" href="{{url_for('admin.admin_user_info')}}">User Info</a>
  			<a type="button" class="btn btn-default" href="{{url_for('admin.admin_user_runtime')}}">User Runtime</a>
		   </div>
               </div>
           </div>
        </div>

        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Admin Renew Operations</div>
                <div class="panel-body">
                   <div class="btn-group" role="group" aria-label="...">
                       <a type="button" class="btn btn-default" href="{{url_for('admin.admin_renewfee_user')}}">RenewFee</a>
                       <a type="button" class="btn btn-default" href="{{url_for('admin.admin_renewtraffic_user')}}">RenewTraffic</a>
                   </div>
		</div>
            </div>
        </div>
        <div class="col-lg-12 col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">Admin User Operations</div>
                <div class="panel-body">
                   <div class="btn-group" role="group" aria-label="...">
                       <a type="button" class="btn btn-default" href="{{url_for('admin.admin_create_user')}}">CreateUser</a>
                       <a type="button" class="btn btn-default" href="{{url_for('admin.admin_deactive_user')}}">DeactiveUser</a>
                       <a type="button" class="btn btn-default" href="{{url_for('admin.admin_active_user')}}">ActiveUser</a>
                   </div>
		</div>
            </div>
        </div>
    </div>
</div>
{%endblock%}
